<% include partials/header %>
<div class="container">
  <div class="row text-center phone_view">
    <div class="col-lg-12">
      <img class="profile-pic" src="<%= user_profile_picture %>" alt="profile-pic">
      <h3 class="profile-name"><%= display_name %> </h3>
      <span class="profile-id" style="font-size: small;">ID:<%= user_id %></span><br><br><br>
      <ul id="stats">
        <li><span class="grey_text">FOLLOWERS</span> <span class="green_text"><%= user_followers_count %></span></li>
        <li><span class="grey_text">FOLLOWING</span> <span class="green_text"><%= user_following_count %></span></li>
        <li><span class="grey_text">PLAYLISTS</span> <span class="green_text"><%= user_playlists_count %></span></li>
        <br>
        <li><span class="grey_text">FAVOURITE TRACKS</span> <span class="green_text"><%= user_fav_tracks_count %></span>
        </li>
        <li><span class="grey_text">COUNTRY</span> <span class="green_text"><%= user_country %></span></li>
        <li><span class="grey_text">SUBSCRIPTION</span> <span class="green_text"><%= user_sub %></span></li>
        <br>
        <br>
      </ul>
      <ul class="mobile_nav" id="stats">
        <li><a href="/topTracks" class="white_text">Top Tracks ➤</span></li>
        <li><a href="/topArtists" class="white_text">Top Artists ➤</span></li>
        <br>
      </ul>
      <a href="/logout"><button class="profile-btn" type="button" name="button">LOGOUT</button></a>
    </div>
  </div>
</div>
<% include partials/footer %>